<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/components/button.css">
  <link rel="stylesheet" href="../css/hover-min.css">
  <link rel="stylesheet" href="../css/views/index.css">
</head>
<body>
  <div id="chintIndex">

    <!-- 客服图标 -->
    <div class="kefu hvr-bounce-in">
      <i class="iconfont icon-kefu"></i>
    </div>
    <!-- 客服图标 end -->
  
    <!-- 顶部栏 -->
    <chint-header></chint-header>
    <!-- 顶部栏 end -->
  
    <!-- 顶部大图 -->
    <div class="web-index">
      <div class="index-banner">
        <img src="../assets/common/banner1.jpg" alt="">
        <div class="desc">
          <p class="small">新视界   新链接   新融合</p>
          <p class="big">采购可以如此简单</p>
          <p class="small">公平   公正   公开</p>
        </div>
  
        <div class="category w-container">
          <span class="link">
            热门采购：
          </span>
          <a href="" class="link">
            生产物资类
          </a>
          <a href="" class="link">
            设备类
          </a>
          <a href="" class="link">
            信息类
          </a>
          <a href="" class="link">
            后勤物资类
          </a>
          <a href="" class="link">
            设备部件类
          </a>
          <a href="" class="link">
            全部采购
          </a>
        </div>
      </div>
    </div>
    <!-- 顶部大图 -->
  
    <!-- 正泰集团采购中心 -->
    <div class="web-row web-desc">
      <div class="w-container">
        <p class="top-title">
          正泰集团采购中心
        </p>
        <p class="top-desc">
          多种采购需求，等待您的报名
        </p>
  
        <!-- 可报名 -->
        <div class="card-row">
          <div class="card">
            <div class="header"></div>
            <div class="detail">
              <p class="title">
                正泰新能源2019年高性能电池及模组项目招标公告
              </p>
              <div class="file">
                <span>
                  <i class="iconfont icon-file"></i>
                  正泰新能源2019年高性能电池及模组项目招标公告.doc
                </span>
                <a href="">下载</a>
                <a href="">预览</a>
              </div>
              <div class="bottom">
                <div class="tips">
                  <span>
                    <i class="iconfont icon-fenlei"></i>
                    信息类
                  </span>
                  <span>
                    <i class="iconfont icon-clock"></i>
                    2019-10-10 ~ 2019-12-12
                  </span>
                </div>
                <button class="blue-btn">
                  立即报名
                </button>
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="header"></div>
            <div class="detail">
              <p class="title">
                正泰新能源2019年高性能电池及模组项目招标公告
              </p>
              <div class="file">
                <span>
                  <i class="iconfont icon-file"></i>
                  正泰新能源2019年高性能电池及模组项目招标公告.doc
                </span>
                <a href="">下载</a>
                <a href="">预览</a>
              </div>
              <div class="bottom">
                <div class="tips">
                  <span>
                    <i class="iconfont icon-fenlei"></i>
                    信息类
                  </span>
                  <span>
                    <i class="iconfont icon-clock"></i>
                    2019-10-10 ~ 2019-12-12
                  </span>
                </div>
                <button class="blue-btn">
                  立即报名
                </button>
              </div>
            </div>
          </div>
  
        </div>
        <!-- 可报名 end -->
  
        <!-- 不可报名 -->
        <div class="card-row2">
  
          <div class="item">
            <p class="title">
              正泰新能源2019年高性能电池及模组项目招标公告
            </p>
            <div class="desc">
              正泰新能源2019年高性能电池及模组项目招标公告.doc
            </div>
          </div>
  
          <div class="item">
            <p class="title">
              正泰新能源2019年高性能电池及模组项目招标公告
            </p>
            <div class="desc">
              正泰新能源2019年高性能电池及模组项目招标公告.doc
            </div>
          </div>
  
          <div class="item">
            <p class="title">
              正泰新能源2019年高性能电池及模组项目招标公告
            </p>
            <div class="desc">
              正泰新能源2019年高性能电池及模组项目招标公告.doc
            </div>
          </div>
  
          <div class="item">
            <p class="title">
              正泰新能源2019年高性能电池及模组项目招标公告
            </p>
            <div class="desc">
              正泰新能源2019年高性能电池及模组项目招标公告.doc
            </div>
          </div>
  
          <div class="item">
            <p class="title">
              正泰新能源2019年高性能电池及模组项目招标公告
            </p>
            <div class="desc">
              正泰新能源2019年高性能电池及模组项目招标公告.doc
            </div>
          </div>
  
        </div>
        <!-- 不可报名 end -->
  
        <div class="sm-tip">
          <a href="" >
            更多采购
          </a>
        </div>
      </div>
    </div>
    <!-- 正泰集团采购中心 end -->
  
    <!-- 采购新鲜动态 -->
    <div class="web-row dynamic-row">
      <div class="w-container">
        <p class="top-title">
          采购新鲜动态
        </p>
        <p class="top-desc">
          公告，技术，新闻多种文章大集合
        </p>
        
        <!-- 动态列表 -->
        <div class="dynamic-list" id="dynamicList">
          <div class="col1 hvr-bob" onclick="toNews(1)">
            <div class="img">
              <img src="../assets/home/img1.jpg" alt="">
            </div>
            <div class="detail">
              <p class="title">
                辽宁省政协主席夏德仁 调研正泰
              </p>
              <p class="desc">
                4月25日下午，辽宁省政协主席夏德仁率队到访正泰杭州滨江园区，就民营企业发展情况进行深入调研。正在参观正泰杭州滨江园区生产流水线
              </p>
            </div>
          </div>
  
          <div class="col2">
            <div class="item hvr-bob" onclick="toNews(1)">
              <div class="detail">
                <p class="title">
                  辽宁省政协主席夏德仁 调研正泰
                </p>
                <p class="desc">
                  4月25日下午，辽宁省政协主席夏德仁率队到访正泰杭州滨江园区，就民营企业发展情况进行深入调研。正在参观正泰杭州滨江园区生产流水线
                </p>
              </div>
            </div>
  
            <div class="item hvr-bob" onclick="toNews(1)">
              <div class="img">
                <img src="../assets/home/img2.jpg" alt="">
              </div>
              <div class="detail">
                <p class="title">
                  辽宁省政协主席夏德仁调研正泰
                </p>
                <p class="desc">
                  4月25日下午，辽宁省政协主席夏德仁率队到访正泰杭州滨江园区，就民营企业发展情况进行深入调研。正在参观正泰杭州滨江园区生产流水线
                </p>
              </div>
            </div>
            
            <div class="item bg-white hvr-bob" onclick="toNews(1)">
              <div class="detail">
                <p class="title">
                  辽宁省政协主席夏德仁 调研正泰
                </p>
                <p class="desc">
                  4月25日下午，辽宁省政协主席夏德仁率队到访正泰杭州滨江园区，就民营企业发展情况进行深入调研。正在参观正泰杭州滨江园区生产流水线
                </p>
              </div>
            </div>
  
            <div class="item bg-white item-2 hvr-bob" onclick="toNews(1)">
              <div class="detail">
                <p class="title">
                  辽宁省政协主席夏德仁 调研正泰
                </p>
                <p class="desc">
                  4月25日下午，辽宁省政协主席夏德仁率队到访正泰杭州滨江园区，就民营企业发展情况进行深入调研。正在参观正泰杭州滨江园区生产流水线
                </p>
              </div>
            </div>
  
            <div class="item hvr-bob" onclick="toNews(1)">
              <div class="detail">
                <p class="title">
                  辽宁省政协主席夏德仁 调研正泰
                </p>
                <p class="desc">
                  4月25日下午，辽宁省政协主席夏德仁率队到访正泰杭州滨江园区，就民营企业发展情况进行深入调研。正在参观正泰杭州滨江园区生产流水线
                </p>
              </div>
            </div>
  
          </div>
        </div>
        <!-- 动态列表 end -->
  
        <div class="sm-tip">
          <a onclick="exchangeDynamic()">
            换一换
          </a>
        </div>
  
      </div>
    </div>
    <!-- 采购新鲜动态 end -->
  
    <!-- 第四行 -->
    <div class="web-row chint-intro">
      <div class="w-container">
        <p class="top-title">
          带您了解正泰
        </p>
        <p class="top-desc">
          您所看到的，正是我们所奋斗的
        </p>
  
        <div class="w-grid-list">
          <div class="item hvr-float">
            <div class="bg">
              <img src="../assets/home/intro-bg1.jpg" alt="">
            </div>
            <p class="title">
              正泰经营理念
            </p>
            <p class="desc">
              1.为客户创造价值
            </p>
            <p class="desc">
              2.为员工谋求发展
            </p>
            <p class="desc">
              3.为社会承担责任
            </p>
          </div>
  
          <div class="item hvr-float">
            <div class="bg">
              <img src="../assets/home/intro-bg2.jpg" alt="">
            </div>
            <p class="title">
              正泰价值观
            </p>
            <p class="desc">
              1.诚信守法
            </p>
            <p class="desc">
              2.注重绩效
            </p>
            <p class="desc">
              3.不断变革
            </p>
          </div>
  
          <div class="item hvr-float">
            <div class="bg">
              <img src="../assets/home/intro-bg3.jpg" alt="">
            </div>
            <p class="title">
              正泰使命
            </p>
            <p class="desc">
              争创世界名牌
            </p>
            <p class="desc">
              实现产业报国
            </p>
          </div>
  
        </div>
      </div>
    </div>
    <!-- 第四行 end -->
  
    <!-- 底部 -->
    <chint-footer></chint-footer>
    <!-- 底部 end -->
  </div>


  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/utils.js"></script>
  <script src="../js/layer/layer.js"></script>
  <script src="../js/views/index.js"></script>
  <script src="../js/vue.min.js"></script>
  <script src="../js/views/vue-component.js"></script>
  <script>
    new Vue({ el: '#chintIndex' })
  </script>
</body>
</html>