<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/topNav.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <!-- 顶部栏 -->
  <div class="top-nav">
    <div class="row-1">
      <div class="w-container">
        <div class="left">
          <i class="iconfont icon-category"></i>
          <b>采购云平台</b>
        </div>

        <ul class="right">
          <li>
            中国站
            <i class="iconfont icon-triangle-down"></i>
          </li>
          <li>
            帮助
          </li>
          <li>
            登录
          </li>
          <li>
            注册
          </li>
        </ul>
      </div>
    </div>
    <div class="w-container">
      <header class="header">
        <img src="../assets/common/logo.jpg" alt="" class="logo">
        <nav class="mid">
          <router-link to="index" class="item">
            采购云首页
          </router-link>
          <router-link to="center" class="item">
            采购中心
          </router-link>
          <router-link to="dynamic" class="item">
            采购动态
          </router-link>
          <router-link to="service" class="item">
            服务监督
          </router-link>
        </nav>

        <div class="search">
          <input type="text">
          <i class="iconfont icon-search"></i>
        </div>
      </header>
    </div>
  </div>
  <!-- 顶部栏 end -->

  <div class="web-index">
    <div class="index-banner">
      <img src="../assets/common/banner1.jpg" alt="">
      <div class="desc">
        <p class="small">新视界   新链接   新融合</p>
        <p class="big">采购可以如此简单</p>
        <p class="small">公平   公正   公开</p>
      </div>

      <div class="category w-container">
        <span class="link">
          热门采购：
        </span>
        <a href="" class="link">
          生产物资类
        </a>
        <a href="" class="link">
          设备类
        </a>
        <a href="" class="link">
          信息类
        </a>
        <a href="" class="link">
          后勤物资类
        </a>
        <a href="" class="link">
          设备部件类
        </a>
        <a href="" class="link">
          全部采购
        </a>
      </div>
    </div>
  </div>
  
</body>
</html>