<!DOCTYPE html>
<!-- 招标  采购中心 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>采购中心</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/components/button.css">
  <link rel="stylesheet" href="../css/hover-min.css">
  <link rel="stylesheet" href="../css/pagination.css">
  <link rel="stylesheet" href="../css/views/index.css">
  <link rel="stylesheet" href="../css/views/inviteBids.css">
</head>
<body>
  <div id="chintContainer">
  
    <!-- 顶部栏 -->
    <chint-header :index="1"></chint-header>
    <!-- 顶部栏 end -->
  
    <!-- 顶部大图 -->
    <div class="web-index">
      <div class="index-banner">
        <img src="../assets/common/banner1.jpg" alt="">
        <div class="desc">
          <p class="small">新视界   新链接   新融合</p>
          <p class="big">采购可以如此简单</p>
          <p class="small">公平   公正   公开</p>
        </div>

        <div class="category w-container">
          <span class="link">
            热门采购：
          </span>
          <a href="" class="link">
            生产物资类
          </a>
          <a href="" class="link">
            设备类
          </a>
          <a href="" class="link">
            信息类
          </a>
          <a href="" class="link">
            后勤物资类
          </a>
          <a href="" class="link">
            设备部件类
          </a>
          <a href="" class="link">
            全部采购
          </a>
        </div>
      </div>
    </div>
    <!-- 顶部大图 -->

    <!-- 正泰集团采购中心 -->
    <div class="bid-container">
      <div class="w-container web-row web-desc bids-list">
        <p class="top-title">
          正泰集团采购中心
        </p>
        <p class="top-desc">
          多种采购需求，等待您的报名
        </p>
        <div class="container">
          <!-- 项目列表 -->
          <div class="left-container">
            <div class="card-row" id="bidList">
              <!-- 可报名 -->
              <div class="card">
                <div class="header"></div>
                <div class="bids-item">
                  <div class="img">
                    <img src="../assets/inviteBids/logo.png" alt="">
                  </div>
                  <div class="detail">
                    <p class="title">
                      正泰新能源2019年高性能电池及模组项目招标公告
                    </p>
                    <div class="file">
                      <span>
                        <i class="iconfont icon-file"></i>
                        正泰新能源2019年高性能电池及模组项目招标公告.doc
                      </span>
                      <a href="">下载</a>
                      <a href="">预览</a>
                    </div>
                    <div class="bottom">
                      <div class="tips">
                        <span>
                          <i class="iconfont icon-fenlei"></i>
                          信息类
                        </span>
                        <span>
                          <i class="iconfont icon-clock"></i>
                          2019-10-10 ~ 2019-12-12
                        </span>
                      </div>
                      <button class="blue-btn">
                        立即报名
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 可报名 end -->

              <!-- 可报名 -->
              <div class="card">
                <div class="header"></div>
                <div class="bids-item">
                  <div class="img">
                    <img src="../assets/inviteBids/logo.png" alt="">
                  </div>
                  <div class="detail">
                    <p class="title">
                      正泰新能源2019年高性能电池及模组项目招标公告
                    </p>
                    <div class="file">
                      <span>
                        <i class="iconfont icon-file"></i>
                        正泰新能源2019年高性能电池及模组项目招标公告.doc
                      </span>
                      <a href="">下载</a>
                      <a href="">预览</a>
                    </div>
                    <div class="bottom">
                      <div class="tips">
                        <span>
                          <i class="iconfont icon-fenlei"></i>
                          信息类
                        </span>
                        <span>
                          <i class="iconfont icon-clock"></i>
                          2019-10-10 ~ 2019-12-12
                        </span>
                      </div>
                      <button class="blue-btn" onclick="onApply(1)">
                        立即报名
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 可报名 end -->

              <!-- 不可报名 -->
              <div class="card card2">
                <div class="bids-item">
                  <div class="img">
                    <img src="../assets/inviteBids/logo.png" alt="">
                  </div>
                  <div class="detail">
                    <p class="title">
                      正泰新能源2019年高性能电池及模组项目招标公告
                    </p>
                    <div class="file">
                      <span>
                        <i class="iconfont icon-file"></i>
                        正泰新能源2019年高性能电池及模组项目招标公告.doc
                      </span>
                      <a href="">下载</a>
                      <a href="">预览</a>
                    </div>
                    <div class="bottom">
                      <div class="tips">
                        <span>
                          <i class="iconfont icon-fenlei"></i>
                          信息类
                        </span>
                        <span>
                          <i class="iconfont icon-clock"></i>
                          2019-10-10 ~ 2019-12-12
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 不可报名 end -->
            </div>

            <!-- 分页 -->
            <div class="pagination clearfix">
              <div class="m-style M-box3"></div>
            </div>
            <!-- 分页 end -->
          </div>
          <!-- 项目列表 end -->

          <!-- 热门项目 -->
          <div class="right-container">
            <div class="bid-right">
              <div class="header-bg"></div>
  
              <p class="title">
                - 热门报名项目 -
              </p>
  
              <div class="item">
                <i class="num one">1</i>
                <span>
                  ▪ 正泰新能源2019年高性能电池级模组项目招标公告 
                </span>
              </div>
  
              <div class="item">
                <i class="num two">2</i>
                <span>
                  ▪ 正泰新能源2019年高性能电池级模组项目招标公告 
                </span>
              </div>
  
              <div class="item">
                <i class="num three">3</i>
                <span>
                  ▪ 正泰新能源2019年高性能电池级模组项目招标公告 
                </span>
              </div>
  
              <div class="item">
                <i class="num">4</i>
                <span>
                  ▪ 正泰新能源2019年高性能电池级模组项目招标公告 
                </span>
              </div>
              <div class="item">
                <i class="num">5</i>
                <span>
                  ▪ 正泰新能源2019年高性能电池级模组项目招标公告 
                </span>
              </div>
            </div>
          </div>
          <!-- 热门项目 end -->
        </div>
      </div>
    </div>
    <!-- 正泰集团采购中心 end -->
  
    <!-- 底部 -->
    <chint-footer></chint-footer>
    <!-- 底部 end -->
  </div>


  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/jquery.pagination.js"></script>
  <script src="../js/utils.js"></script>
  <script src="../js/layer/layer.js"></script>
  <script src="../js/views/inviteBids.js"></script>
  <script src="../js/vue.min.js"></script>
  <script src="../js/views/vue-component.js"></script>
  <script>
    new Vue({ el: '#chintContainer' });
  </script>
</body>
</html>