// 颜色常量
$color-default: #ca141d;
$color-black: #333;
$color-red: #ca141d;
$color-blue: #005bac;
$color-blue-light: #69beff;
$color-green: #52c41a;
$color-green-light: #98e2bf;
$color-grey: #999;
$color-grey-9: #999;
$color-grey-6: #666;
$color-grey-c: #ccc;
$color-bg: #f8f8f8;
$color-title-bg: #f0f0f0;
$color-line: #e6e6e6;
$color-yellow: #f7d848;
$color-orange: #fb6a3e;
$color-gradient1: #e43d2e;
$color-gradient2: #cc171f;
$color-hover-blue: #e6f7ff;
$color-gold: #c5995b;

$line-scale: 0.5;

// 背景渐变色 从左到右
@mixin background-left-gradient($color1, $color2) {
  background: -webkit-linear-gradient(left, $color1, $color2);
  background: -o-linear-gradient(right, $color1, $color2);
  background: -moz-linear-gradient(right, $color1, $color2);
  background: linear-gradient(to right, $color1, $color2);
}

// 背景渐变色 从上到下
@mixin background-top-gradient($color1, $color2) {
  background: -webkit-linear-gradient(bottom, $color1, $color2);
  background: -o-linear-gradient(bottom, $color1, $color2);
  background: -moz-linear-gradient(bottom, $color1, $color2);
  background: linear-gradient(to bottom, $color1, $color2);
}

// 文字渐变色 从左到右
@mixin text-left-gradient($color1, $color2) {
  background-image: -webkit-gradient(linear, left 0, right 0, from($color1), to($color2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin break-word {
  word-wrap: break-word;
  word-break: break-all;
}

/* 一行显示显示不下, 显示... */
@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* 最多显示 $line 行, 显示不下显示... */
@mixin text-overflow-muli($line) {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

// 阴影
@mixin box-shadow($x: 0, $y: 0, $blur: 1px, $color: #000) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}

// 圆角
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// 透明度
@mixin opacity($val) {
  -webkit-opacity: $val;
  -moz-opacity: $val;
  -khtml-opacity: $val;
  opacity: $val;
}

// 上下左右居中
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 圆形
@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: $size;
}

/* 字体色彩*/
.color-error {
  color: $color-red;
}

.color-warning {
  color: $color-yellow;
}

.color-success {
  color: $color-green;
}

.color-grey-9 {
  color: $color-grey-9;
}

.color-blue {
  color: $color-blue;
}
