@charset "UTF-8";
.cube-toast-tip {
  font-size: .14rem;
  line-height: .2rem;
  max-height: 30vh;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 60vw;
}

.cube-toast .cube-popup-content {
  border-radius: .05rem;
  color: #fff;
}

.cube-loading-spinners {
  width: .2rem;
  height: .2rem;
}