@charset 'UTF-8';
.top-nav {
  border-bottom: 1px solid #d4d4d4;
}
.detail-container {
  padding: 20px 0;
  background: #fff;
}

.detail-container .title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 15px;
  font-weight: 500;
}

.detail-container .sub-title {
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  margin: 0 12px;
  color: #999;
}

.detail-container .sub-title span {
  margin-right: 20px;
}

.detail-container .sub-title .time {
  background: url('../../assets/common/ind_time.png') no-repeat;
  padding-left: 20px;
  background-position: 0 center;
}

.detail-content {
  font-size: 15px;
  color: #666;
  line-height: 34px;
}