@charset 'UTF-8';

.bid-container {
  background: #eaeeff;
  background: -webkit-linear-gradient(right bottom, #eaeeff, #ebefff, #fff, #fff);
  background: -o-linear-gradient(right bottom, #eaeeff, #ebefff, #fff, #fff); 
  background: -moz-linear-gradient(right bottom, #eaeeff, #ebefff, #fff, #fff);
  background: linear-gradient(to right bottom, #eaeeff, #ebefff, #fff);
  padding-bottom: 40px;
  padding-top: 40px;
}

.bid-container .left-container {
  width: 72%;
}

.bids-list {
  background: transparent;
  width: 100%;
}

.bids-list .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}

.bids-list .card-row {
  display: block;
  position: relative;
}

.bids-list .card-row .card {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #d4d4d4;
}

.bids-list .card-row .card2 {
  background: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.bids-list .card-row .card .bids-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}

.bids-list .card-row .card .bids-item .img {
  width: 100px;
  height: 100px;
  border: 1px solid #d4d4d4;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  overflow: hidden;
  padding: 5px;
}

.bids-list .card-row .card .bids-item .img img {
  width: 100%;
}

.bids-list .card-row .card .bids-item .detail {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.bid-container .right-container {
  width: 22%;
}

.bid-right {
  width: 100%;
  border: 1px solid #d4d4d4;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  margin-top: 40px;
  background: #f6f7ff;
  padding-bottom: 60px;
}

.bid-right .header-bg {
  width: 100%;
  height: 25px;
  background: #005bac;
}

.bid-right .title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #d4d4d4;
  margin: 0 10px;
  color: #005bac;
}

.bid-right .item {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  word-wrap: break-word;
  word-break: break-all;
  padding: 20px 0;
  border-bottom: 1px solid #d4d4d4;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  cursor: pointer;
}

.bid-right .item .num {
  min-width: 15px;
  font-size: 10px;
  text-align: center;
  display: block;
  margin-right: 10px;
  border: 1px solid #d4d4d4;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.bid-right .item:nth-child(3) .num {
  color: #fff;
  background: #ff7802;
  border-color: #d64e02;
}

.bid-right .item:nth-child(4) .num {
  color: #fff;
  background: #32845e;
  border-color: #255c45;
}

.bid-right .item:nth-child(5) .num {
  color: #fff;
  background: #32845e;
  border-color: #255c45;
}

.bid-right .item .num.one {
  color: #fff;
  background: #ff7802;
  border-color: #d64e02;
}

.bid-right .item .num.two {
  color: #fff;
  background: #32845e;
  border-color: #255c45;
}

.bid-right .item .num.three {
  color: #fff;
  background: #32845e;
  border-color: #255c45;
}

.bid-right .item span {
  color: #005bac;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}