@import '../variable.scss';

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba($color: #000000, $alpha: 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    background: #fff;
    border-radius: .05rem;
    width: 80%;
    min-height: .3rem;
    position: relative;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      width: .4rem;
      height: .4rem;
      z-index: 1;
      color: $color-grey;
      display: flex;
      justify-content: center;

      .icon-close {
        width: .2rem;
        height: .2rem;
        border-radius: .2rem;
        line-height: .2rem;
        text-align: center;
        font-size: 16px;
        margin-top: .07rem;
      }
    }

    .modal-title {
      text-align: center;
      height: .4rem;
      line-height: .4rem;
      font-size: 16px;
    }

    .modal-content {
      padding: .15rem .12rem .2rem;
      @include break-word;
      text-align: center;
    }

    .modal-bottom {
      display: flex;

      button {
        // width: 50%;
        flex: 1;
        height: .35rem;
        border: 0;
        position: relative;

        &::after {
          content: ' ';
          position: absolute;
          top: 30%;
          right: 0;
          width: .01rem;
          height: 40%;
          background: $color-line;
        }
      }

      button:last-child::after {
        display: none;
      }

      .confirm {
        color: $color-default;
        font-size: 14px;
      }

      .cancle {
        color: $color-grey;
        font-size: 14px;
      }
    } // end modal-bottom

  } // end modal
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}