
@import url('../variable.scss');

.w-navbar {
  height: .35rem;
  line-height: .35rem;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
  position: relative;
  background: #fff;

  .scroll-view {
    display: flex;
    transition: all .3s ease;
    overflow: hidden;
    height: .34rem;

    span {
      flex-shrink: 0;
      height: 100%;
      color: $color-grey-6;
      font-size:  14px;
      min-width: 25vw;
      transition: all .3s ease;
      overflow: hidden;
  
      &.active {
        color: $color-black;
        font-size:  16px;
      }
    }

    .line {
      width: 20vw;
      height: 1px;
      position: absolute;
      bottom: 1px;
      left: -100%;
      @include background-left-gradient($color-gradient1, $color-gradient2);
      transition: all .3s ease;
    }
  }
} // end tab-scroll-nav