@import '~@/styles/variable.scss';

.product-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  background: #fff;

  .category-list {
    min-width: .6rem;
    height: 100%;
    flex-shrink: 0;
    background: #fff;
    padding-top: .05rem;
    overflow: auto;
    position: relative;

    .right-line {
      position: relative;
      min-height: 100%;
    }

    .right-line::after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: #e6e6e6;
      transform: scaleX(0.5);
    }

    .item {
      font-size: 12px;
      text-align: center;
      height: .24rem;
      line-height: .24rem;
      padding: 0 .05rem;
      @include break-word;
      position: relative;

      &.actived {
        color: $color-blue;

        &::after {
          content: ' ';
          position: absolute;
          right: 0;
          top: .07rem;
          width: .01rem;
          height: .1rem;
          background: $color-blue;
        }
      }
    } // end item

    .menu {
      height: .4rem;
      line-height: .4rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all .3s ease;
      padding-left: .05rem;
      padding-right: .05rem;

      span {
        // font-weight: 700;
        flex: 1;
      }

      .iconfont {
        font-weight: 700;
        margin-left: .05rem;
        transform: rotate(180deg);
        transition: all .3s ease;
      }

      &.actived {
        color: $color-default;
        .iconfont {
          transform: rotate(0deg);
        }
      }

      &.open {
        .iconfont {
          transform: rotate(0deg);
        }
      }
    } // end menu

    .sub-list {
      background: #fff;
      overflow: hidden;
    }

    .sub-item {
      height: .3rem;
      line-height: .3rem;
      padding: 0 .1rem;
      text-align: center;
      background: #fff;
      position: relative;

      &.actived {
        color: $color-default;

        &::after {
          content: ' ';
          position: absolute;
          right: 0;
          top: .07rem;
          width: .01rem;
          height: .1rem;
          background: $color-default;
        }
      }
    } // end sub-item
  } // end category-list

  .shelf-container {
    flex: 1;
    width: 100%;
  }

  .product-scroll {
    flex: 1;
    overflow: auto;
    padding-bottom: .1rem;

    .title {
      height: .3rem;
      line-height: .3rem;
      text-align: center;
    }
  }

  .product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: .1rem;
    padding-top: .05rem;
    border-bottom: 5px solid #e6e6e6;
    box-shadow: 0 3px 2px #ccc;

    .product {
      width: .63rem;
      margin-bottom: .08rem;
      margin-right: .06rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
    }

    .product-item {
      width: 30%;
      padding: .05rem;
      margin-bottom: .06rem;
      background: #fff;
      border-radius: .02rem;
      // box-shadow: 0 0 .03rem #e6e6e6;
      overflow: hidden;
      flex-shrink: 0;
      margin-right: 3%;

      .no-data {
        padding: 0;
      }

      .img {
        width: .5rem;
        height: .5rem;
        margin: 0 auto;
        @include flex-center;
        overflow: hidden;
        background: #fff;
        padding: .02rem;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      } // end img

      p {
        font-size: 12px;
        margin-top: .03rem;
        @include break-word;
        text-align: center;
        line-height: 16px
      }
    }

    button {
      width: 70%;
      height: .16rem;
      font-size: 14px;
    }

  } // end product-list
} // end product-container

.product-container {

  .cube-scroll-wrapper .cube-sticky-fixed {
    display: none;
  }
  .cube-scroll-content {
    min-height: 100%;
  }

  // 标题有bug, 故隐藏掉
  .cube-scroll-nav-panel .cube-sticky-ele {
    height: 1px !important;
    opacity: 0;
  }

  .cube-scroll-nav-panels {
    background: #f5f5f5;
  }

  .cube-scroll-nav-panel-title {
    height: .3rem;
    line-height: .3rem;
    text-align: center;
  }

  .cube-scroll-nav-bar-items {
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: #e6e6e6;
      transform: scaleX(0.5);
    }
  }
}