@charset "UTF-8";
@import "./iconfont.css";
.iconfont {
  font-size: inherit; /* 继承上一级字体大小 */
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: '微软雅黑';
  color: #262626;
  background: #f5f5f5;
  min-width: 1300px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  /* 不可选择 */
  /* -webkit-user-select:none; 
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none; */
}

p {
  margin: 0;
  padding: 0;
}

/* 去除选中黄色边框 */

input,
textarea,
button,
select {
  outline: none;
}

select,
button {
  border: 0;
  -webkit-appearance: none;
  background-color: transparent;
  border-color: transparent;
}

i {
  font-style: normal;
}

/* 强制换行 */
.break-word {
  word-wrap: break-word;
  word-break: break-all;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/* chrome表单自动填充后，input文本框的背景会变成偏黄色的 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  /* border: 0 !important; */
}

/* input diabled 样式, 兼容iphone */
input[disabled], input:disabled, input.disabled{
  color: #a6a6a6;
  -webkit-text-fill-color: #a6a6a6;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

a {
  text-decoration: none;
  color: #262626;
}

a:hover,
a:active {
  color: #005bac !important;
}

.clear {
  clear: both;
}

.clearfix::after {
  content: ' ';
  display: block;
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.radius-5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* 一行显示显示不下... */
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.no-border {
  border: 0 !important;
}

.no-data {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.no-data img {
  width: 50%;
}

.no-data p {
  font-size: 14px;
  text-align: center;
  color: #999;
  font-weight: 700;
}

.w-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.txt-center {
  text-align: center;
}

.opacity-0 {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  /* IE 4-9 */
  filter: alpha(opacity=0);
  /*This works in IE 8 & 9 too*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /*IE4-IE9*/
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.opacity-50 {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: .5;
  /* IE 4-9 */
  filter: alpha(opacity=50);
  /*This works in IE 8 & 9 too*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /*IE4-IE9*/
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.block {
  display: block;
}

.height-1 {
  height: 1px;
}

.w-tableview {
  background: #fff;
}

.w-tableview .cell {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  height: 80px;
  margin-left: 24px;
  padding-right: 24px;
  position: relative;
}

.w-tableview .cell::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  transform: scaleY(0.5);
}

.w-tableview .cell .title {
  max-width: 50%;
  font-size: 14px;
  margin-right: 20px;
}

.w-tableview .cell .desc {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  /* for Opera */
  text-overflow: ellipsis;
  /* for IE */
  font-size: 14px;
  color: #999;
  text-align: right;
}

.w-tableview .cell input.desc {
  height: 100%;
  border: 0;
  /* -webkit-appearance: none; */
  background-color: transparent;
}

.w-tableview .cell select.desc {
  border: 0;
  /* -webkit-appearance: none; */
  background-color: transparent;
  height: 100%;
}

.w-tableview .cell select.desc option {
  height: 80px;
  line-height: 80px;
}

.w-tableview .cell .icon-arrow-right {
  color: #999;
  font-size: 14px;
  margin-left: 20px;
}

.w-tableview .cell:hover,
.w-tableview .cell:active {
  background: #f5f5f5;
}

.color-grey {
  color: #999;
}

.normal-ab-loading {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 99;
  width: 100%;
  line-height: 1.6em;
  font-size: 14px;
  text-align: center;
}

.normal-loading {
  width: 65%;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  background: #fff;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  box-shadow: 0 0 10px 0px #ccc;
}

.w-back-top {
  position: fixed;
  bottom: 120px;
  right: 20px;
  width: 80px;
  height: 80px;
  z-index: 99;
}

.w-back-top img {
  width: 60px;
  height: 60px;
  margin: 20px auto;
  display: block;
}

.w-progress {
  height: 20px;
  background: #f2f2f2;
  /* border-left: 1px solid transparent;
  border-right: 1px solid transparent; */
  border-radius: 20px;
  width: 42%;
  margin: 0 5px;;
  position: relative;
}

.w-progress span {
  height: 100%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  background: #dbdbdb;
  border-color: #dbdbdb;
}

.w-progress .yellow {
  background: #ffc728;
  border-color: #ffc728;
}

.w-progress .yellow-dark {
  background: #ffd76d;
  border-color: #ffd76d;
}

.w-progress .red {
  background: #ff494e;
  border-color: #ff494e;
}

.w-progress .green {
  background: #3ccf8a;
  border-color: #3ccf8a;
}

.w-progress .green-dark {
  background: #13b5b1;
  border-color: #13b5b1;
}

.w-progress .w-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.w-progress .w-text.color-black {
  color: #262626;
}

.align-left {
  text-align: left !important;
}

.color-black {
  color: #333 !important;
}

.w-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: -webkit-box;  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;     /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;  /* 混合版本语法: IE 10 */
  display: -webkit-flex; /* 新版本语法: Chrome 21+ */
  display: flex;         /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.1); */
  background: #fff;
  padding-top: 60%;
}

.w-loading-bg {
  background: rgba(0, 0, 0, 0.1);
} 

.w-loading .loading-img {
  width: 30vw;
  height: 30vw;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.w-line {
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  transform: scaleY(0.5);
}

.w-grid-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.w-grid-list .item {
  padding: 20px 24px;
  width: 33.33%;
  overflow: hidden;
}

.w-loading-row {
  position: absolute;
  top: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  box-shadow: 0 0 3px 0 #e6e6e6;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

.w-loading-row img {
  height: 80%;
  margin-right: 20px;
}

.w-loading-mid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  height: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, .7);
}

.w-loading-mid img {
  height: 80px;
  margin-right: 20px;
}

.w-gradient-left-bg {
  background: -webkit-linear-gradient(left, #4194f4, #00fdaf); 
  background: -o-linear-gradient(right, #4194f4, #00fdaf); 
  background: -moz-linear-gradient(right, #4194f4, #00fdaf); 
  background: linear-gradient(to right, #4194f4 , #00fdaf);
  height: 180px;
  width: 100%;
  position: relative;
}

.w-underline{
  position: relative;
}

.w-underline::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e6e6e6;
}


/* 底部栏样式 */
.web-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 40px;
}

.web-footer .left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 320px;
}

.web-footer .left::after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #c6c6c6;
}

.web-footer .left .iconfont {
  font-size: 40px;
  margin-right: 40px;
  color: #666;
}

.web-footer .left .detail,
.web-footer .right .detail {
  font-size: 12px;
  color: #919191;
}

.web-footer .left .detail p,
.web-footer .right .detail p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #666;
}

.web-footer .left .detail p b {
  font-size: 14px;
}

.web-footer .left .detail a,
.web-footer .right .detail a {
  display: block;
  margin-bottom: 15px;
  color: #919191;
}

.web-footer .right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.web-footer .right .detail {
  padding: 0 40px;
}

.web-footer .right .detail p {
  margin-bottom: 40px;
}

.footer-select {
  padding: 20px 0;
  margin-top: -20px;
}

.footer_link {
  width: 300px;
  height: 40px;
  position: relative;
  background: #fff;
}

.footer_link p {
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e2e2e2;
  font-size: 14px;
  color: #999;
  cursor: pointer;
  position: relative;
  padding-right: 15px;
  overflow: hidden;
  padding-bottom: 0 !important;
}

.footer_link p .iconfont {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
}

.footer_link ul {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-left: none;
  border-right: none;
  background: #fff;
  position: absolute;
  /*top:39px;*/
  bottom: 39px;
  left: 0;
  max-height: 200px;
  overflow-y: scroll;
  display: none;
  list-style: none;
  padding: 0;
}

.footer_link ul li {
  line-height: 38px;
  border-left: 1px solid #e2e2e2;
}

.footer_link ul li a {
  display: block;
  padding-left: 15px;
  font-size: 14px;
  color: #888;
  margin-bottom: 0 !important;
}

.footer_link ul li a:hover {
  background: #f5f5f5;
}

.web-footer .link-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.web-footer .link-list a {
  display: block;
  width: 30px;
  height: 30px;
  background: #454545;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin-right: 15px;
}

.web-footer .link-list a .iconfont {
  color: #fff;
  font-size: 18px;
}

.web-footer .link-list a:hover {
  background: #005bac;
  cursor: pointer;
}

.code-detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.web-footer .code-view {
  width: 100px;
  margin-left: 30px;
}

.web-footer .code-view img {
  display: block;
  width: 100%;
}

.web-footer .code-view p {
  text-align: center;
  margin-top: 20px;
  color: #666
}

/* 顶部栏样式 */

.top-nav {
  background: #fff;
  width: 100%;
}

.top-nav .row-1 {
  background: #efefef;
  padding: 10px 0;

}
.top-nav .row-1 .w-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav .row-1 .left {
  max-width: 200px;
  color: #999;
}

.top-nav .row-1 .left .iconfont {
  color: #005bac;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.top-nav .row-1 .right {
  max-width: 60%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

}

.top-nav .row-1 .right li {
  position: relative;
  color: #999;
  padding: 0 10px;
  cursor: pointer;
}

.top-nav .row-1 .right li::before {
  content: ' ';
  width: 1px;
  height: 80%;
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 1;
  background: #d4d4d4;
}

.top-nav .row-1 .right li:hover {
  color: #005bac;
}

.top-nav .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;

}

.top-nav .header .logo {
  height: 35px;
}

.top-nav .header .search {
  width: 150px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  background: #f0f0f0;
  overflow: hidden;
}

.top-nav .header .search input {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  background: #f0f0f0;
  padding-left: 10px;
  padding-right: 30px;
}

.top-nav .header .search .iconfont {
  position: absolute;
  right: 10px;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}

.top-nav .header .mid {
  flex: 1;
  padding-left: 60px;
  text-align: left;
}

.top-nav .header .mid .item {
  margin-right: 30px;
  color: #262626;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.top-nav .header .mid .item:hover,
.top-nav .header .mid .item.actived {
  color: #005bac;
}
  
/* 页码样式 */
.pagination .m-style{
  float: right;
}

/* 登录弹窗 */
.login-modal {
  width: 350px;
  min-height: 300px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 60px;
}

.login-modal .icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #999;
  z-index: 10;
  font-weight: 700;
  cursor: pointer;
}

.login-modal .change-icon {
  position: absolute;
  top: 28px;
  right: 30px;
  color: #999;
  z-index: 10;
  width: 50px;
  cursor: pointer;
}

.login-modal-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.login-modal-title .title-icon {
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.input-item {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
}

.input-item .iconfont {
  width: 50px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  color: #999;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;

}

.input-item input {
  border: 1px solid #d4d4d4;
  height: 40px;
  padding-left: 60px;
  width: 100%;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.input-item input:focus {
  border: 1px solid #005bac;
}

.login-modal .blue-btn {
  height: 40px;
}

.login-bottom-line {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background: #c6e2fd;
  margin-top: 10px;
}

.login-tip {
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
  color: #999;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.login-modal-erweima {
  width: 120px;
  height: 120px;
  display: block;
  border: 1px solid #d4d4d4;
  margin: 0 auto;
  margin-bottom: 20px;
}

.login-erweima-tip {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.login-erweima-tip .blue {
  color: #005bac;
}

/********************** 页面样式共用 **********************/
.web-row {
  overflow: hidden;
}

.web-row .top-title {
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
}

.web-row .top-desc {
  font-size: 18px;
  color: #666a75;
  text-align: center;
  margin-top: 10px;
}

.web-row .sm-tip {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.web-row .sm-tip a {
  color: #919191;
  cursor: pointer;
}

.web-row .sm-tip a:hover {
  color: #005bac;
}

.web-banner {
  width: 100%;
  position: relative;
}

.web-banner .banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.web-banner img.bg {
  width: 100%;
  display: block;
}

.web-banner .banner .desc .small {
  font-size: 20px;
}

.web-banner .banner .desc .big {
  font-size: 46px;
}

.web-banner .banner .desc p {
  color: #fff;
  font-weight: 700;
  background-image:-webkit-linear-gradient(top, #fff, #fff, #848ab4); 
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent; 
  margin-bottom: 35px;
}
