@import './button.scss';
.color-blue {
  color: $color-blue;
}

.cart-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.cart-content {
  padding-top: .1rem;
  padding-left: .12rem;
  padding-right: .12rem;
  // height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.price {
  font-size: 14px;
  color: $color-red;
  @include text-ellipsis;

  .grey {
    font-size: 10px;
    color: $color-grey;
    margin-left: .05rem;
  } 

  .line-through {
    text-decoration: line-through;
  }
}

.price-row {
  display: flex;
  align-items: center;
}

.price.grey {
  font-size: 10px;
  color: $color-grey;
}

.price.grey.line-through {
  text-decoration: line-through;
}

.product-list {
  background: #fff;
  height: 100%;
  border-top-right-radius: .05rem;
  border-top-left-radius: .05rem;
  width: 50%;
  display: flex;
  flex-direction: column;

  .scroll-view {
    flex: 1;
    position: relative;
  }

  .radio {
    width: .4rem;
    flex-shrink: 0;
    font-size: .14rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .iconfont {
      color: $color-blue;
    }

    .icon-radio-disabled {
      color: $color-line;
    }
  }

  .cart-item {
    width: 95%;
    margin: 0 auto;
    display: flex;
    background: #fff;

    .detail {
      flex: 1;
      overflow: hidden;
      padding: .1rem 0 .07rem;

      .title {
        color: $color-black;
        @include text-overflow-muli(2);
        margin-bottom: .05rem;
        font-size: 14px;
        font-weight: 700;
      }

      .desc {
        color: $color-grey;
        font-size: 12px;
        margin-top: .03rem;
      }
    }

    .right {
      flex-shrink: 0;
      width: 26%;
      display: flex;
      align-items: center;
    }

    .nums {
      width: 100%;
      height: .16rem;
      border: 1px solid $color-line;
      display: flex;
      overflow: hidden;
      border-radius: .2rem;

      .iconfont {
        color: $color-blue;
        flex-shrink: 0;
        width: .16rem;
        font-size: .16rem;
      }

      input {
        flex: 1;
        display: block;
        overflow: hidden;
        text-align: center;
      }
    }
  } // end cart-item
}

.customer-container {
  background: #fff;
  width: 48%;
  height: 100%;
  border-top-right-radius: .05rem;
  border-top-left-radius: .05rem;
  padding-top: .08rem;
  padding-left: .1rem;
  padding-right: .1rem;

  .customre-item {
    display: flex;
    align-items: center;
    padding: 0 .12rem;
    margin-bottom: .1rem;

    .icon-kehu {
      color: $color-blue;
      font-size: .16rem;
    }

    .detail {
      flex: 1;
      overflow: hidden;
      padding: .1rem;

      .title {
        // margin-bottom: .05rem;
        span {
          color: $color-grey;
          font-size: 13px;
        }
      }

      .location {
        @include break-word;
        line-height: .16rem;
      }
    }

    .icon-arrow-right {
      color: $color-grey;
    }
  } // end customer-item

  .pay-msg {
    display: flex;
    color: $color-grey-6;

    .title {
      width: .5rem;
      height: .2rem;
      line-height: .2rem;
      flex-shrink: 0;
    }

    .radios {
      display: flex;

      .item {
        padding-right: .08rem;
        padding-left: .02rem;
        height: .2rem;
        display: flex;
        align-items: center;

        &:active {
          opacity: .8;
          background: $color-bg;
        }

        .iconfont {
          margin-right: .06rem;
          color: $color-blue;
        }
      }
    }

    .textarea {
      flex: 1;
      height: .6rem;
      resize: none;
      border: 1px solid $color-line;
      font-size: 12px;
      border-radius: .05rem;
      margin-top: .05rem;
      overflow: hidden;
    }
  } // end pay-msg
}

.cart-bottom {
  width: 100%;
  height: .35rem;
  border-top: 1px solid $color-line;
  background: #fff;
  display: flex;
  padding-left: .1rem;
  padding-right: .1rem;
  position: relative;
  z-index: 10;

  .radio {
    min-width: .4rem;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: $color-grey;

    .iconfont {
      margin-right: .05rem;
      font-size: 16px;
    }

    .icon-radio-checked {
      color: $color-blue;
    }
  }

  .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;

    input {
      width: .5rem;
      height: .2rem;
      border: 1px solid $color-line;
      text-align: center;
      margin-left: .05rem;
    }
  }


  .detail {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: .1rem;

    .msg {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;

      p {
        margin-bottom: 0;
        margin-left: .1rem;
      }
    }

    p {
      @include text-ellipsis;
      margin-bottom: .05rem;

      span {
        color: $color-black;
        font-weight: 700;
      }
    }

    .grey {
      color: $color-grey-6;
    }

    .bold {
      font-weight: 700;
    }

    // .small {
    //   font-size: 12px;
    // }

    .red {
      color: $color-red;
    }
  }

  .blue-btn,
  .red-btn {
    height: .2rem;
    border-radius: .2rem;
    width: 1rem;
    margin-top: .075rem;
    flex-shrink: 0;
  }
}