@import './button.scss';
.color-blue {
  color: $color-blue;
}

.cart-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.cart-content {
  padding-top: .1rem;
  padding-left: .12rem;
  padding-right: .12rem;
  // height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.price {
  font-size: .12rem;
  color: $color-red;
  @include text-ellipsis;
}

.price.grey {
  font-size: .1rem;
  color: $color-grey;
}

.price.grey.line-through {
  text-decoration: line-through;
}

.product-list {
  background: #fff;
  height: 100%;
  border-top-right-radius: .05rem;
  border-top-left-radius: .05rem;
  width: 50%;
  display: flex;
  flex-direction: column;

  .scroll-view {
    flex: 1;
  }

  .radio {
    width: .4rem;
    flex-shrink: 0;
    font-size: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .iconfont {
      color: $color-blue;
    }
  }

  .cart-item {
    width: 95%;
    margin: 0 auto;
    display: flex;
    background: #fff;

    .detail {
      flex: 1;
      overflow: hidden;
      padding: .1rem 0;

      .title {
        color: $color-black;
        @include text-overflow-muli(2);
        margin-bottom: .05rem;
        font-size: .12rem;
        font-weight: 700;
      }
    }

    .right {
      flex-shrink: 0;
      width: 35%;
      display: flex;
      align-items: center;
    }

    .nums {
      width: 100%;
      height: .2rem;
      border: 1px solid $color-line;
      display: flex;
      overflow: hidden;
      border-radius: .2rem;

      .iconfont {
        color: $color-blue;
        flex-shrink: 0;
        width: .2rem;
        font-size: .2rem;
      }

      input {
        flex: 1;
        display: block;
        overflow: hidden;
        text-align: center;
      }
    }
  } // end cart-item
}

.customer-container {
  background: #fff;
  width: 48%;
  height: 100%;
  border-top-right-radius: .05rem;
  border-top-left-radius: .05rem;
  padding-top: .08rem;
  padding-left: .1rem;
  padding-right: .1rem;

  .customre-item {
    display: flex;
    align-items: center;
    padding: 0 .12rem;
    margin-bottom: .1rem;

    .icon-kehu {
      color: $color-blue;
      font-size: .2rem;
    }

    .detail {
      flex: 1;
      overflow: hidden;
      padding: .1rem;

      .title {
        margin-bottom: .05rem;
        span {
          color: $color-grey;
          font-size: .13rem;
        }
      }

      .location {
        @include break-word;
        line-height: .16rem;
      }
    }

    .icon-arrow-right {
      color: $color-grey;
    }
  } // end customer-item

  .pay-msg {
    display: flex;
    color: $color-grey-6;
    font-size: .12rem;

    .title {
      width: .6rem;
      height: .32rem;
      line-height: .32rem;
      flex-shrink: 0;
    }

    .radios {
      display: flex;

      .item {
        padding-right: .08rem;
        padding-left: .02rem;
        height: .32rem;
        display: flex;
        align-items: center;

        &:active {
          opacity: .8;
          background: $color-bg;
        }

        .iconfont {
          margin-right: .06rem;
          color: $color-blue;
        }
      }
    }

    .textarea {
      flex: 1;
      height: .8rem;
      resize: none;
      border: 1px solid $color-line;
      font-size: .12rem;
      border-radius: .05rem;
      margin-top: .05rem;
      overflow: hidden;
    }
  } // end pay-msg
}

.cart-bottom {
  width: 100%;
  height: .4rem;
  border-top: 1px solid $color-line;
  background: #fff;
  display: flex;
  padding-left: .1rem;
  padding-right: .1rem;
  position: relative;
  z-index: 10;

  .radio {
    min-width: .4rem;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: .12rem;
    color: $color-grey;

    .iconfont {
      margin-right: .05rem;
      font-size: .14rem;
    }

    .icon-radio-checked {
      color: $color-blue;
    }
  }

  .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .12rem;
    width: 1.5rem;

    input {
      width: .5rem;
      height: .2rem;
      border: 1px solid $color-line;
      text-align: center;
      margin-left: .05rem;
    }
  }


  .detail {
    flex: 1;
    text-align: right;
    font-size: .12rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: .1rem;

    .msg {
      display: flex;
      justify-content: flex-end;
      font-size: .1rem;

      p {
        margin-bottom: 0;
        margin-left: .1rem;
      }
    }

    p {
      @include text-ellipsis;
      margin-bottom: .05rem;

      span {
        color: $color-black;
        font-weight: 700;
      }
    }

    .grey {
      color: $color-grey-6;
    }

    .bold {
      font-weight: 700;
    }

    .small {
      font-size: .1rem;
    }

    .red {
      color: $color-red;
    }
  }

  .blue-btn,
  .red-btn {
    height: .25rem;
    border-radius: .25rem;
    font-size: .14rem;
    width: 1.5rem;
    margin-top: .05rem;
    flex-shrink: 0;
  }
}

.pay-success {
  display: flex;
  align-items: center;
  margin-top: .2rem;
  padding-left: 6%;
  text-align: left;

  .icon {
    width: 30%;
    margin-right: .1rem;
    flex-shrink: 0;

    img {
      width: 100%;
    }
  }

  .detail {
    overflow: hidden;
    flex: 1;

    .title {
      font-size: .16rem;
      color: $color-blue;
      margin-bottom: .1rem;
      font-weight: 700;
    }

    .desc {
      color: $color-grey;
      margin-bottom: .1rem;
      display: flex;

      .sub-title {
        font-size: .13rem;
        flex-shrink: 0;
        min-width: .6rem;
      }

      .black {
        color: $color-black;
      }

      .price {
        font-size: .14rem;
      }
    }
  }
} // end pay-success

.online-pay {
  margin-top: -.1rem;
  .price {
    font-size: .16rem;
    text-align: center;
    margin-bottom: .15rem;
    font-weight: 700;
  }

  .code-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

    .code-img {
      width: 45%;
      border-radius: .05rem;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
      }
    }
  }
} // end online-pay