
.pay-success {
  display: flex;
  align-items: center;
  margin-top: .2rem;
  padding-left: 6%;
  text-align: left;

  .icon {
    width: 20%;
    margin-right: .1rem;
    flex-shrink: 0;

    img {
      width: 100%;
    }
  }

  .detail {
    overflow: hidden;
    flex: 1;

    .title {
      font-size: 16px;
      color: $color-blue;
      margin-bottom: .1rem;
      font-weight: 700;
    }

    .desc {
      color: $color-grey;
      margin-bottom: .1rem;
      display: flex;

      .sub-title {
        font-size: 14px;
        flex-shrink: 0;
        min-width: .35rem;
      }

      .black {
        color: $color-black;
      }

      .price {
        font-size: 14px;
      }
    }
  }
} // end pay-success

.online-pay {
  margin-top: -.1rem;
  .price {
    font-size: 18px;
    text-align: center;
    margin-bottom: .15rem;
    font-weight: 700;
  }

  .code-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;

    .code-img {
      width: 30%;
      border-radius: .05rem;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
      }

      p {
        text-align: center;
        margin-top: .05rem;
        font-weight: 700;
      }
    }
  }
} // end online-pay